.section-home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    height: auto;
    margin: 4% 0;
    display: flex;
    flex-direction: column;
    padding: 0 25%;
}

.home-info{
    display: flex;
    margin-top: 20%;
}

.home-titles{
    margin-right: 70px;
}

.home-title-primary{
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0;
}

.home-title-secondary{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.home-titles p {
    color: #6e6e6e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 15px;
}

.home-titles span {
    color: rgb(238, 134, 6);
}

.images {
    height: 100px;
    display: flex;
}

.img-linkedin, 
.img-github, 
.img-resume {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.img-portofolio {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    object-fit: cover;
}

.a-linkedin:after,
.a-github:after,
.a-resume:after {
    content: '';
    display: flex;
    height: 3px;
    width: 0px;
    background: white;
    transition: width .5s ease, background-color .5s ease;
}

.a-linkedin:hover:after,
.a-github:hover:after,
.a-resume:hover:after {
    width: 30px;
    background: rgb(238, 134, 6);
}

.home-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 150px;
}

.home-skills p {
    font-size: 30px;
    font-weight: 700;
}

.home-skills img{
    width: 70px;
    height: 50px;
    object-fit: contain;
}

@media only screen and (min-width:0px) and (max-width:480px) { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .home{
        padding: 0 5%;
    }
    .home-info{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 25%;
    }
    .home-titles{
        margin-right: 0px;
        margin-top:5%;
    }

    .home-title-primary{
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }
    
    .home-title-secondary{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 15px;
        margin: 0;
    }

    .home-skills{
        margin-bottom: 25%;
    }    
    
}

@media only screen and (min-width:481px) and (max-width:768px) { 
    /* smartphones, Android phones, landscape iPhone */
    .home-info{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .img-portofolio {
        width: 250px;
        height: 250px;
        border-radius:100%;
    }
    

    .home-titles{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 0%;
        margin-top:5%;
    }
    
    .home-skills{
        margin-top: 150px;
        margin-bottom: 25%;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .home-info{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .home-titles{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 0%;
        margin-top:5%;
    }
}
@media only screen and (min-width:1025px) and (max-width:1200px)   { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1201px) { 
    /* big landscape tablets, laptops, and desktops */ 

}
