.section-contact{
    height: 450px;
    margin-top: 60px;
}

.contact-title{
    display: flex;
    justify-content: center;
}

.contact-title h1{
    margin: 0;
    
    text-align: center;
    width: 450px;
    margin-bottom: 40px;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
    -moz-box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
    box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
}

.section-contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contact-grid{
    display: grid;
    width: 450px;

    border-radius: 25px;
    padding:5px;

    background-color: white;
}

.section-contact-grid input, textarea {
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
    resize: none;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
    -moz-box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
    box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
}

.section-contact-grid textarea {
    resize: none;
    height: 100px;
}


.section-contact-grid input:focus, .section-contact-grid textarea:focus {
    outline: none;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(239, 152, 52, 0.194);
    -moz-box-shadow: 0px 3px 0px 0px rgba(239, 152, 52, 0.194);
    box-shadow: 0px 3px 0px 0px rgba(239, 152, 52, 0.194);
}
 
.section-contact-info{
    height: 250px;
    margin: 50px;
    padding: 5px;

    color: #6e6e6e;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
}

.section-contact-info div{
    display: flex;
    justify-content: flex-start;
}

.section-contact-info span{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(238, 134, 6);
}

.section-contact-info p {
    margin: 0;
    flex: 3;
}

.section-contact-info img{
    width: 50px;
}

.section-contact-button{
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.section-contact-button:hover,
.section-contact-button:focus {
    background: #2b2b2b;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

@media screen and (max-width: 950px){
    .section-contact{
        height: 750px;
        margin-top: 60px;
    }
    .section-contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 412px) {
    .section-contact-grid{
        width: 350px;
    }
}
