.section-contact{
    margin-top: 60px;
}

.contact-title{
    display: flex;
    justify-content: center;
}

.contact-title h1{
    text-align: center;
    width: 30%;
    margin-bottom: 40px;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
    -moz-box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
    box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
}

.section-contact-form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2% 25%;
}

.section-contact-grid{
    display: grid;
    border-radius: 25px;
    padding: 5px;

    background-color: white;
}

.section-contact-grid input, textarea {
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
    resize: none;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
    -moz-box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
    box-shadow: 0px 1px 0px 0px rgba(239, 152, 52, 0.194);
}

.section-contact-grid textarea {
    resize: none;
    height: 100px;
}


.section-contact-grid input:focus, .section-contact-grid textarea:focus {
    outline: none;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(239, 152, 52, 0.194);
    -moz-box-shadow: 0px 3px 0px 0px rgba(239, 152, 52, 0.194);
    box-shadow: 0px 3px 0px 0px rgba(239, 152, 52, 0.194);
}
 
.section-contact-info{
    height: 250px;
    margin: 50px;
    padding: 5px;

    color: #6e6e6e;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
}

.section-contact-info div{
    display: flex;
    justify-content: flex-start;
}

.section-contact-info span{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(238, 134, 6);
}

.section-contact-info p {
    margin: 0;
    flex: 3;
}

.section-contact-info img{
    width: 50px;
}

.section-contact-button{
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.section-contact-button:hover,
.section-contact-button:focus {
    background: #2b2b2b;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.result-success-text {
    background-color: rgba(0, 169, 0, 0.57);
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
    border-radius: 20px;

    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 3s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
}

.result-success-text {
    font-size: 14px;
}

.result-error-text {
    background-color: rgba(169, 8, 0, 0.57);
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
    border-radius: 20px;

    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 3s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
}

@-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }
  @keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px; 
    }
  }

  @media screen and (min-width:0px) and (max-width:480px) { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .section-contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (min-width:481px) and (max-width:768px) { 
    /* smartphones, Android phones, landscape iPhone */
    .section-contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:769px) and (max-width:1024px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .section-contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-contact-grid{
       width: 100%;
    }
}
@media screen and (min-width:1025px) and (max-width:1200px)   { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .section-contact-form{
        margin: 2% 5%;
    }
}

@media screen and (min-width:1201px) and (max-width:1390px)   { 
    .section-contact-form{
        margin: 2% 10%;
    }
}
@media screen and (min-width:1391px) and (max-width:1869px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .section-contact-form{
        margin: 2% 15%;
    }
}
@media screen and (min-width:1870px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .section-contact-form{
        margin: 2% 25%;
    }
}

