header{
    display: grid;
    grid-template-columns: 100%;
    position: relative;
}

.header-nav{
    height: 75px;
    width: 100%;
    margin: 0 auto;
    position: fixed;

    top: 0;
    left: 0;
    z-index:100;
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 7%;

    transition: all .50s ease;

    font-weight: 700;
    background-color: whitesmoke;

    -webkit-box-shadow: 0px 2px 2px 0px rgba(203, 203, 203, 0.283);
    -moz-box-shadow: 0px 2px 2px 0px rgba(203, 203, 203, 0.283);
    box-shadow: 0px 2px 2px 0px rgba(203, 203, 203, 0.283);
}

.header-name{
    font-size: 2.1rem;
}

.header-list li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.3rem;
    padding-left: 15px;
    cursor: pointer;
}

.header-list li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.header-list li:hover:after {
    width: 100%;
    background: rgb(238, 134, 6);
}

.header-list li a {
    color: black;
    text-decoration: none;
}

@media only screen and (min-width:0px) and (max-device-width:480px) { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .header-name{
        font-size: 1.3rem;
    }
    
    .header-list li {
        font-size: 1rem;
    }
}

@media only screen and (min-width:481px) and (max-device-width:768px) { 
    /* smartphones, Android phones, landscape iPhone */
    .header-name{
        font-size: 25px;
    }
    .header-list li {
        font-size: 18px;
        padding: 5px;
    }
}

@media only screen and (min-width:769px) and (max-device-width:1024px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}
@media only screen and (min-width:1025px) and (max-device-width:1200px)   { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1201px) { 
    /* big landscape tablets, laptops, and desktops */ 
}
