* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}
html {
    scroll-behavior: smooth !important; 
}

body {
    background-color: whitesmoke;
    font: 1.5rem Roboto, Arial;
    margin: 0;
    width: auto;

    display: flex;
    flex-direction: column;
}


